openapi: 3.0.3
info:
  title: WikiLivee API
  version: 3.0.0
  license:
    name: MIT
servers:
  - url: https://balooai.ru
  - url: http://localhost:8080
tags:
  - name: Auth
  - name: Users
  - name: Pages
  - name: Search
  - name: Graph
  - name: Versioning
  - name: Comments
  - name: Sharing
  - name: AI
  - name: Tables
  - name: Collaboration
security:
  - bearerAuth: []
paths:
  /api/auth/register:
    post:
      operationId: register
      tags:
        - Auth
      summary: Регистрация нового пользователя
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthRequest"
            example:
              username: alice
              password: secret123
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/auth/login:
    post:
      operationId: login
      tags:
        - Auth
      summary: Вход в систему
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthRequest"
            example:
              username: alice
              password: secret123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/auth/me:
    get:
      operationId: getMe
      tags:
        - Auth
      summary: Текущий пользователь (из JWT)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/users/search:
    get:
      operationId: searchUsers
      tags:
        - Users
      summary: Поиск пользователей по подстроке имени
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/pages:
    get:
      operationId: listPages
      tags:
        - Pages
      summary: Список всех страниц
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PageSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: createPage
      tags:
        - Pages
      summary: Создать страницу
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePageRequest"
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/pages/mine:
    get:
      operationId: listMyPages
      tags:
        - Pages
      summary: Страницы текущего пользователя
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PageSummary"
          description: OK
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/pages/{id}:
    get:
      operationId: getPage
      tags:
        - Pages
      summary: Получить страницу целиком
      parameters:
        - $ref: "#/components/parameters/pageId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page"
          description: OK
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      operationId: savePage
      tags:
        - Pages
      summary: Сохранить страницу (autosave)
      parameters:
        - $ref: "#/components/parameters/pageId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePageRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatePageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deletePage
      tags:
        - Pages
      summary: Удалить страницу
      parameters:
        - $ref: "#/components/parameters/pageId"
      responses:
        "204":
          description: No content
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/pages/{id}/backlinks:
    get:
      operationId: getPageBacklinks
      tags:
        - Pages
      summary: Обратные ссылки (страницы со ссылками wikiLink на эту)
      parameters:
        - $ref: "#/components/parameters/pageId"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PageSummary"
          description: OK
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/pages/{id}/children:
    get:
      operationId: getPageChildren
      tags:
        - Pages
      summary: Дочерние страницы (`parent_id` = эта страница)
      parameters:
        - $ref: "#/components/parameters/pageId"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PageSummary"
          description: OK
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/pages/search:
    post:
      operationId: searchPages
      tags:
        - Search
      summary: Полнотекстовый поиск по страницам
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
            example:
              text: вики
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SearchResult"
          description: OK
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/pages/graph:
    get:
      operationId: getPagesGraph
      tags:
        - Graph
      summary: Граф связей страниц (рёбра из wikiLink)
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Graph"
          description: OK
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/pages/{id}/versions:
    get:
      operationId: getPageVersions
      tags:
        - Versioning
      summary: Список версий (новые сверху)
      parameters:
        - $ref: "#/components/parameters/pageId"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PageVersionSummary"
          description: OK
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/pages/{id}/versions/{version}:
    get:
      operationId: getPageVersion
      tags:
        - Versioning
      summary: Снимок страницы на указанной версии
      parameters:
        - $ref: "#/components/parameters/pageId"
        - $ref: "#/components/parameters/version"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageVersion"
          description: OK
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/pages/{id}/versions/{version}/restore:
    post:
      operationId: restorePageVersion
      tags:
        - Versioning
      summary: Откатить текущую страницу к выбранной версии
      parameters:
        - $ref: "#/components/parameters/pageId"
        - $ref: "#/components/parameters/version"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatePageResponse"
          description: OK
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/pages/{id}/comments:
    get:
      operationId: getComments
      tags:
        - Comments
      summary: Все комментарии страницы
      parameters:
        - $ref: "#/components/parameters/pageId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Comment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: addComment
      tags:
        - Comments
      summary: Добавить комментарий
      parameters:
        - $ref: "#/components/parameters/pageId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCommentRequest"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
          description: OK
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      operationId: deleteComment
      tags:
        - Comments
      summary: Удалить комментарий
      parameters:
        - $ref: "#/components/parameters/pageId"
        - name: commentId
          in: query
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No content
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/pages/{id}/access:
    get:
      operationId: getPageAccess
      tags:
        - Sharing
      summary: Список участников с доступом и флаг `canManage`
      parameters:
        - $ref: "#/components/parameters/pageId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageAccessResponse"
          description: OK
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/pages/{id}/access/{userId}:
    put:
      operationId: upsertPageAccess
      tags:
        - Sharing
      summary: Выдать или обновить доступ пользователю
      parameters:
        - $ref: "#/components/parameters/pageId"
        - $ref: "#/components/parameters/userId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertPageAccessRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkStatusResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      operationId: deletePageAccess
      tags:
        - Sharing
      summary: Отозвать доступ пользователя
      parameters:
        - $ref: "#/components/parameters/pageId"
        - $ref: "#/components/parameters/userId"
      responses:
        "204":
          description: No content
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/pages/{id}/ai/complete:
    post:
      operationId: aiCompleteText
      tags:
        - AI
      summary: Дополнить текст с учётом контекста страницы (MWS GPT)
      parameters:
        - $ref: "#/components/parameters/pageId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AICompleteRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AICompleteResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/pages/{id}/ai/summarize:
    post:
      operationId: aiSummarizePage
      tags:
        - AI
      summary: Краткая сводка содержимого страницы
      parameters:
        - $ref: "#/components/parameters/pageId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AISummarizeRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/AISummarizeResponse"
                  - $ref: "#/components/schemas/AISummarizeFallbackResponse"
          description: OK
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/pages/{id}/ai/blocks:
    post:
      operationId: aiSuggestBlocks
      tags:
        - AI
      summary: Подсказать следующий блок по контексту и последнему блоку
      parameters:
        - $ref: "#/components/parameters/pageId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AIBlocksRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AIBlocksResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/tables:
    get:
      operationId: listTables
      tags:
        - Tables
      summary: Список таблиц
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TableSummary"
          description: OK
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
        "502":
          $ref: "#/components/responses/BadGateway"
    post:
      operationId: createTable
      tags:
        - Tables
      summary: Создать таблицу с колонками
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTableRequest"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Table"
          description: OK
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /api/tables/{id}:
    get:
      operationId: getTable
      tags:
        - Tables
      summary: Таблица с колонками и строками
      parameters:
        - $ref: "#/components/parameters/tableId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Table"
          description: OK
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          $ref: "#/components/responses/BadGateway"
    put:
      operationId: updateTable
      tags:
        - Tables
      summary: Переименовать таблицу
      parameters:
        - $ref: "#/components/parameters/tableId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTableRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Table"
          description: OK
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          $ref: "#/components/responses/BadGateway"
    delete:
      operationId: deleteTable
      tags:
        - Tables
      summary: Удалить таблицу
      parameters:
        - $ref: "#/components/parameters/tableId"
      responses:
        "204":
          description: No content
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          $ref: "#/components/responses/BadGateway"
  /api/tables/{id}/columns:
    post:
      operationId: addColumn
      tags:
        - Tables
      summary: Добавить колонку
      parameters:
        - $ref: "#/components/parameters/tableId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddColumnRequest"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TableColumn"
          description: OK
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /api/tables/{id}/columns/{colId}:
    delete:
      operationId: deleteColumn
      tags:
        - Tables
      summary: Удалить колонку
      parameters:
        - $ref: "#/components/parameters/tableId"
        - $ref: "#/components/parameters/colId"
      responses:
        "204":
          description: No content
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          $ref: "#/components/responses/BadGateway"
  /api/tables/{id}/rows:
    post:
      operationId: addRow
      tags:
        - Tables
      summary: Добавить пустую строку
      parameters:
        - $ref: "#/components/parameters/tableId"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TableRow"
          description: OK
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /api/tables/{id}/rows/{rowId}:
    put:
      operationId: updateRow
      tags:
        - Tables
      summary: Обновить значения ячеек строки (upsert по columnId)
      parameters:
        - $ref: "#/components/parameters/tableId"
        - $ref: "#/components/parameters/rowId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRowRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TableRow"
          description: OK
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          $ref: "#/components/responses/BadGateway"
    delete:
      operationId: deleteRow
      tags:
        - Tables
      summary: Удалить строку
      parameters:
        - $ref: "#/components/parameters/tableId"
        - $ref: "#/components/parameters/rowId"
      responses:
        "204":
          description: No content
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          $ref: "#/components/responses/BadGateway"
  /ws/pages/{id}:
    get:
      operationId: connectPageWs
      tags:
        - Collaboration
      summary: WebSocket — совместное редактирование и присутствие
      security:
        - bearerAuth: []
        - wsToken: []
      parameters:
        - $ref: "#/components/parameters/pageId"
        - name: color
          in: query
          required: false
          schema:
            type: string
            example: "#3b82f6"
      responses:
        "101":
          description: Switching protocols
        "400":
          description: Error
        "401":
          description: Error
        "403":
          description: Error
        "500":
          description: Error
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    wsToken:
      type: apiKey
      in: query
      name: token
  parameters:
    pageId:
      name: id
      in: path
      required: true
      schema:
        type: string
    tableId:
      name: id
      in: path
      required: true
      schema:
        type: string
    colId:
      name: colId
      in: path
      required: true
      schema:
        type: string
    rowId:
      name: rowId
      in: path
      required: true
      schema:
        type: string
    userId:
      name: userId
      in: path
      required: true
      schema:
        type: string
    version:
      name: version
      in: path
      required: true
      schema:
        type: integer
  responses:
    BadRequest:
      description: Error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalError:
      description: Error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    BadGateway:
      description: Error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: page not found
    AuthRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          minLength: 2
        password:
          type: string
          minLength: 4
          format: password
    AuthResponse:
      type: object
      properties:
        token:
          type: string
        userId:
          type: string
        username:
          type: string
    MeResponse:
      type: object
      properties:
        userId:
          type: string
        username:
          type: string
    UserSummary:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
    PageSummary:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        icon:
          type: string
          example: 📄
        author:
          type: string
        parent_id:
          type: string
          nullable: true
        version:
          type: integer
        updatedAt:
          type: string
          format: date-time
    Page:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        icon:
          type: string
        author:
          type: string
        parent_id:
          type: string
          nullable: true
        content:
          type: array
          items:
            $ref: "#/components/schemas/Block"
        version:
          type: integer
        updatedAt:
          type: string
          format: date-time
    CreatePageRequest:
      type: object
      properties:
        title:
          type: string
          default: ""
        icon:
          type: string
          default: 📄
        parentId:
          type: string
    UpdatePageRequest:
      type: object
      required:
        - title
        - content
        - version
      properties:
        title:
          type: string
        content:
          type: array
          items:
            $ref: "#/components/schemas/Block"
        version:
          type: integer
    UpdatePageResponse:
      type: object
      properties:
        id:
          type: string
        version:
          type: integer
    Block:
      type: object
      required:
        - id
        - type
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - paragraph
            - heading
            - list
            - table_embed
            - page_link
        content:
          type: string
          nullable: true
        props:
          type: object
          additionalProperties: true
    PageVersionSummary:
      type: object
      properties:
        version:
          type: integer
        savedAt:
          type: string
          format: date-time
    PageVersion:
      type: object
      properties:
        pageId:
          type: string
        version:
          type: integer
        title:
          type: string
        content:
          type: array
          items:
            $ref: "#/components/schemas/Block"
        savedAt:
          type: string
          format: date-time
    Comment:
      type: object
      properties:
        id:
          type: string
        pageId:
          type: string
        author:
          type: string
        text:
          type: string
        anchorFrom:
          type: integer
        anchorTo:
          type: integer
        anchorText:
          type: string
        createdAt:
          type: string
          format: date-time
    CreateCommentRequest:
      type: object
      required:
        - text
      properties:
        text:
          type: string
        anchorFrom:
          type: integer
          default: 0
        anchorTo:
          type: integer
          default: 0
        anchorText:
          type: string
          default: ""
    SearchRequest:
      type: object
      properties:
        text:
          type: string
    SearchResult:
      type: object
      properties:
        pageId:
          type: string
        title:
          type: string
        snippet:
          type: string
        updatedAt:
          type: string
          format: date-time
    Graph:
      type: object
      properties:
        nodes:
          type: array
          items:
            $ref: "#/components/schemas/GraphNode"
        edges:
          type: array
          items:
            $ref: "#/components/schemas/GraphEdge"
    GraphNode:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
    GraphEdge:
      type: object
      properties:
        source:
          type: string
        target:
          type: string
    PageAccessResponse:
      type: object
      properties:
        owner:
          type: object
          properties:
            userId:
              type: string
            username:
              type: string
            role:
              type: string
              example: owner
        entries:
          type: array
          items:
            $ref: "#/components/schemas/PageAccessEntry"
        canManage:
          type: boolean
    PageAccessEntry:
      type: object
      properties:
        userId:
          type: string
        username:
          type: string
        role:
          type: string
          example: editor
    UpsertPageAccessRequest:
      type: object
      properties:
        role:
          type: string
          enum:
            - editor
          default: editor
    OkStatusResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
    AICompleteRequest:
      type: object
      required:
        - text
      properties:
        text:
          type: string
    AICompleteResponse:
      type: object
      properties:
        result:
          type: string
        usage:
          type: object
          properties:
            tokens:
              type: integer
        fallback:
          type: boolean
    AISummarizeRequest:
      type: object
      properties:
        maxLength:
          type: integer
          default: 200
    AISummarizeResponse:
      type: object
      properties:
        summary:
          type: string
    AISummarizeFallbackResponse:
      type: object
      properties:
        summary:
          type: string
        fallback:
          type: boolean
          example: true
    AIBlocksRequest:
      type: object
      required:
        - lastBlock
      properties:
        lastBlock:
          $ref: "#/components/schemas/Block"
    AIBlocksResponse:
      type: object
      properties:
        type:
          type: string
        content:
          type: string
        suggestion:
          type: string
        props:
          type: object
          additionalProperties: true
        fallback:
          type: boolean
    WsUpdateEvent:
      type: object
      required:
        - type
        - userId
        - payload
      properties:
        type:
          type: string
          enum:
            - update
        userId:
          type: string
        payload:
          type: object
          required:
            - title
            - content
            - version
          properties:
            title:
              type: string
            content:
              type: array
              items:
                $ref: "#/components/schemas/Block"
            version:
              type: integer
    WsCursorEvent:
      type: object
      required:
        - type
        - userId
        - cursor
      properties:
        type:
          type: string
          enum:
            - cursor
        userId:
          type: string
        cursor:
          $ref: "#/components/schemas/CursorPayload"
    WsPresenceEvent:
      type: object
      required:
        - type
        - users
      properties:
        type:
          type: string
          enum:
            - presence
        users:
          type: array
          items:
            $ref: "#/components/schemas/PresenceUser"
    CursorPayload:
      type: object
      required:
        - anchor
        - head
      properties:
        anchor:
          type: integer
        head:
          type: integer
    PresenceUser:
      type: object
      required:
        - userId
        - name
        - color
      properties:
        userId:
          type: string
        name:
          type: string
        color:
          type: string
          example: "#0f7b6c"
    TableSummary:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Table:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        columns:
          type: array
          items:
            $ref: "#/components/schemas/TableColumn"
        rows:
          type: array
          items:
            $ref: "#/components/schemas/TableRow"
    CreateTableRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        columns:
          type: array
          items:
            $ref: "#/components/schemas/TableColumnSpec"
          default: []
    UpdateTableRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
    TableColumnSpec:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
        type:
          type: string
          enum:
            - text
            - number
            - date
            - select
          default: text
    AddColumnRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        type:
          type: string
          enum:
            - text
            - number
            - date
            - select
          default: text
    UpdateRowRequest:
      type: object
      required:
        - values
      properties:
        values:
          type: object
          additionalProperties:
            type: string
    TableColumn:
      type: object
      properties:
        id:
          type: string
        table_id:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
            - text
            - number
            - date
            - select
        position:
          type: integer
    TableRow:
      type: object
      properties:
        id:
          type: string
        table_id:
          type: string
        created_at:
          type: string
          format: date-time
        values:
          type: object
          additionalProperties:
            type: string
