openapi: 3.0.3
info:
  title: MWS Wiki API
  version: 2.0.0
  description: >
    Полноценный Wiki Editor внутри MWS Tables.
    Страницы, таблицы, backlinks, collaboration, versioning, comments, search, graph, AI.
  license:
    name: MIT

servers:
  - url: https://balooai.ru
    description: Production
  - url: http://localhost:8080
    description: Локальная разработка

security:
  - bearerAuth: []

paths:

  # ════════════════════════════════════════════════════════
  # PAGES
  # ════════════════════════════════════════════════════════

  /api/pages:
    get:
      operationId: listPages
      tags: [Pages]
      summary: Список всех страниц
      security: []
      parameters:
        - name: parentId
          in: query
          required: false
          schema:
            type: string
          description: Фильтр по родительской странице (null = корневые)
      responses:
        '200':
          description: Список страниц
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PageSummary'
        '500':
          $ref: '#/components/responses/InternalError'

    post:
      operationId: createPage
      tags: [Pages]
      summary: Создать страницу
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePageRequest'
      responses:
        '201':
          description: Страница создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/pages/{id}:
    get:
      operationId: getPage
      tags: [Pages]
      summary: Получить страницу
      security: []
      parameters:
        - $ref: '#/components/parameters/pageId'
      responses:
        '200':
          description: Страница
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      operationId: savePage
      tags: [Pages]
      summary: Сохранить страницу (autosave)
      security: []
      parameters:
        - $ref: '#/components/parameters/pageId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePageRequest'
      responses:
        '200':
          description: Обновлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deletePage
      tags: [Pages]
      summary: Удалить страницу
      security: []
      parameters:
        - $ref: '#/components/parameters/pageId'
      responses:
        '204':
          description: Удалено
        '404':
          $ref: '#/components/responses/NotFound'

  /api/pages/{id}/backlinks:
    get:
      operationId: getPageBacklinks
      tags: [Pages]
      summary: Страницы которые ссылаются на данную
      security: []
      parameters:
        - $ref: '#/components/parameters/pageId'
      responses:
        '200':
          description: Список обратных ссылок
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PageSummary'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/pages/{id}/children:
    get:
      operationId: getPageChildren
      tags: [Pages]
      summary: Дочерние страницы
      security: []
      parameters:
        - $ref: '#/components/parameters/pageId'
      responses:
        '200':
          description: Список дочерних страниц
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PageSummary'
        '404':
          $ref: '#/components/responses/NotFound'

  # ════════════════════════════════════════════════════════
  # VERSIONING
  # ════════════════════════════════════════════════════════

  /api/pages/{id}/versions:
    get:
      operationId: getPageVersions
      tags: [Versioning]
      summary: История версий страницы
      security: []
      parameters:
        - $ref: '#/components/parameters/pageId'
      responses:
        '200':
          description: Список версий
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PageVersionSummary'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/pages/{id}/versions/{version}:
    get:
      operationId: getPageVersion
      tags: [Versioning]
      summary: Получить конкретную версию
      security: []
      parameters:
        - $ref: '#/components/parameters/pageId'
        - $ref: '#/components/parameters/version'
      responses:
        '200':
          description: Версия страницы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageVersion'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/pages/{id}/versions/{version}/restore:
    post:
      operationId: restorePageVersion
      tags: [Versioning]
      summary: Откатить страницу к версии
      security: []
      parameters:
        - $ref: '#/components/parameters/pageId'
        - $ref: '#/components/parameters/version'
      responses:
        '200':
          description: Страница восстановлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePageResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # ════════════════════════════════════════════════════════
  # COMMENTS
  # ════════════════════════════════════════════════════════

  /api/pages/{id}/comments:
    get:
      operationId: getComments
      tags: [Comments]
      summary: Комментарии к странице
      security: []
      parameters:
        - $ref: '#/components/parameters/pageId'
      responses:
        '200':
          description: Список комментариев
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      operationId: addComment
      tags: [Comments]
      summary: Добавить комментарий
      security: []
      parameters:
        - $ref: '#/components/parameters/pageId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentRequest'
      responses:
        '201':
          description: Комментарий создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteComment
      tags: [Comments]
      summary: Удалить комментарий
      security: []
      parameters:
        - $ref: '#/components/parameters/pageId'
        - name: commentId
          in: query
          required: true
          schema:
            type: string
          description: ID комментария для удаления
      responses:
        '204':
          description: Удалено
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ════════════════════════════════════════════════════════
  # SEARCH
  # ════════════════════════════════════════════════════════

  /api/pages/search:
    post:
      operationId: searchPages
      tags: [Search]
      summary: Полнотекстовый поиск по страницам
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [q]
              properties:
                q:
                  type: string
                  description: Поисковый запрос
                limit:
                  type: integer
                  default: 20
      responses:
        '200':
          description: Результаты поиска
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
        '400':
          $ref: '#/components/responses/BadRequest'

  # ════════════════════════════════════════════════════════
  # GRAPH
  # ════════════════════════════════════════════════════════

  /api/pages/graph:
    get:
      operationId: getPagesGraph
      tags: [Graph]
      summary: Граф связей между страницами
      security: []
      responses:
        '200':
          description: Узлы и рёбра графа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Graph'
        '500':
          $ref: '#/components/responses/InternalError'

  # ════════════════════════════════════════════════════════
  # TABLES (proxy → MWS)
  # ════════════════════════════════════════════════════════

  /api/tables:
    get:
      operationId: listTables
      tags: [Tables]
      summary: Список таблиц из MWS Tables
      security: []
      responses:
        '200':
          description: Список таблиц
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TableSummary'
        '502':
          $ref: '#/components/responses/BadGateway'

  /api/tables/{id}:
    get:
      operationId: getTable
      tags: [Tables]
      summary: Получить таблицу из MWS Tables
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Таблица
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Table'
        '502':
          $ref: '#/components/responses/BadGateway'

  # ════════════════════════════════════════════════════════
  # AI (MWS GPT)
  # ════════════════════════════════════════════════════════

  /api/ai/complete:
    post:
      operationId: aiComplete
      tags: [AI]
      summary: Генерация текста
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AIRequest'
      responses:
        '200':
          description: Сгенерированный текст
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '502':
          $ref: '#/components/responses/BadGateway'

  /api/ai/summarize:
    post:
      operationId: aiSummarize
      tags: [AI]
      summary: Суммаризация страницы
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pageId]
              properties:
                pageId:
                  type: string
      responses:
        '200':
          description: Краткое содержание
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '502':
          $ref: '#/components/responses/BadGateway'

  /api/ai/suggest:
    post:
      operationId: aiSuggest
      tags: [AI]
      summary: Предложить следующий блок
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [context]
              properties:
                context:
                  type: string
                  description: Текущий текст страницы
      responses:
        '200':
          description: Предложенный блок
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '502':
          $ref: '#/components/responses/BadGateway'

  # ════════════════════════════════════════════════════════
  # WEBSOCKET
  # ════════════════════════════════════════════════════════

  /ws/pages/{id}:
    get:
      operationId: connectPageWs
      tags: [Collaboration]
      summary: WebSocket для совместного редактирования
      security: []
      description: >
        Upgrade до WebSocket. После подключения сервер немедленно рассылает
        всем в комнате сообщение `presence` с обновлённым списком участников.


        **Входящие сообщения (клиент → сервер)** — схема `WsUpdateEvent` или `WsCursorEvent`:

        - `update` — сохраняет страницу в БД и рассылает всем остальным

        - `cursor` — передаёт позицию курсора остальным участникам (не сохраняется)


        **Исходящие сообщения (сервер → клиент)** — схема `WsUpdateEvent`, `WsCursorEvent` или `WsPresenceEvent`:

        - `update` — изменения страницы от другого участника

        - `cursor` — позиция курсора другого участника

        - `presence` — актуальный список участников в комнате (отправляется при join/leave)
      parameters:
        - $ref: '#/components/parameters/pageId'
        - name: userId
          in: query
          required: false
          schema:
            type: string
          description: ID пользователя. Если не указан — генерируется случайный anon-XXXXX
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: Имя пользователя для отображения. По умолчанию "Anonymous"
        - name: color
          in: query
          required: false
          schema:
            type: string
            example: '#3b82f6'
          description: HEX цвет курсора. Если не указан — выбирается случайный из палитры
      responses:
        '101':
          description: Switching Protocols — соединение установлено
        '400':
          description: Не WebSocket запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    pageId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: ID страницы
    version:
      name: version
      in: path
      required: true
      schema:
        type: integer
      description: Номер версии

  responses:
    BadRequest:
      description: Некорректный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Не найдено
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadGateway:
      description: Внешний API недоступен
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: page not found

    # ── Pages ────────────────────────────────────────────

    PageSummary:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        icon:
          type: string
        parentId:
          type: string
          nullable: true
        version:
          type: integer
        updatedAt:
          type: string
          format: date-time

    Page:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        icon:
          type: string
        parentId:
          type: string
          nullable: true
        content:
          type: array
          items:
            $ref: '#/components/schemas/Block'
        version:
          type: integer
        updatedAt:
          type: string
          format: date-time

    CreatePageRequest:
      type: object
      required: [title]
      properties:
        title:
          type: string
        icon:
          type: string
        parentId:
          type: string
          nullable: true
          description: ID родительской страницы для иерархии

    UpdatePageRequest:
      type: object
      required: [title, content, version]
      properties:
        title:
          type: string
        content:
          type: array
          items:
            $ref: '#/components/schemas/Block'
        version:
          type: integer

    UpdatePageResponse:
      type: object
      properties:
        id:
          type: string
        version:
          type: integer

    Block:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - paragraph
            - heading
            - list
            - table_embed
            - page_link
        content:
          type: string
          nullable: true
        props:
          type: object
          additionalProperties: true
          description: >
            Дополнительные свойства блока.
            Для table_embed: { tableId: string }.
            Для page_link: { targetId: string, targetTitle: string }.
            Для heading: { level: 1|2|3 }.

    # ── Versioning ───────────────────────────────────────

    PageVersionSummary:
      type: object
      properties:
        version:
          type: integer
        savedAt:
          type: string
          format: date-time

    PageVersion:
      type: object
      properties:
        pageId:
          type: string
        version:
          type: integer
        title:
          type: string
        content:
          type: array
          items:
            $ref: '#/components/schemas/Block'
        savedAt:
          type: string
          format: date-time

    # ── Comments ─────────────────────────────────────────

    Comment:
      type: object
      properties:
        id:
          type: string
        pageId:
          type: string
        anchorBlockId:
          type: string
          description: ID блока к которому прикреплён комментарий
        anchorText:
          type: string
          description: Снапшот выделенного текста на момент создания комментария
        author:
          type: string
        text:
          type: string
        createdAt:
          type: string
          format: date-time

    CreateCommentRequest:
      type: object
      required: [anchorBlockId, text]
      properties:
        anchorBlockId:
          type: string
          description: ID блока к которому прикрепляется комментарий
        anchorText:
          type: string
          description: Выделенный текст (снапшот)
        author:
          type: string
        text:
          type: string

    # ── Search ───────────────────────────────────────────

    SearchResult:
      type: object
      properties:
        pageId:
          type: string
        title:
          type: string
        snippet:
          type: string
          description: Фрагмент текста с совпадением
        updatedAt:
          type: string
          format: date-time

    # ── Graph ────────────────────────────────────────────

    Graph:
      type: object
      properties:
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/GraphNode'
        edges:
          type: array
          items:
            $ref: '#/components/schemas/GraphEdge'

    GraphNode:
      type: object
      properties:
        id:
          type: string
        title:
          type: string

    GraphEdge:
      type: object
      properties:
        source:
          type: string
          description: ID страницы-источника
        target:
          type: string
          description: ID страницы-цели

    # ── WebSocket ────────────────────────────────────────

    WsUpdateEvent:
      type: object
      description: Изменение содержимого страницы (клиент↔сервер)
      required: [type, userId, payload]
      properties:
        type:
          type: string
          enum: [update]
        userId:
          type: string
        payload:
          $ref: '#/components/schemas/UpdatePageRequest'

    WsCursorEvent:
      type: object
      description: Позиция курсора участника (клиент↔сервер, не сохраняется в БД)
      required: [type, userId, cursor]
      properties:
        type:
          type: string
          enum: [cursor]
        userId:
          type: string
        cursor:
          $ref: '#/components/schemas/CursorPayload'

    WsPresenceEvent:
      type: object
      description: Список участников в комнате (только сервер→клиент, при join/leave)
      required: [type, users]
      properties:
        type:
          type: string
          enum: [presence]
        users:
          type: array
          items:
            $ref: '#/components/schemas/PresenceUser'

    CursorPayload:
      type: object
      description: Координаты курсора в долях от размера окна (0..1)
      required: [x, y]
      properties:
        x:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Горизонтальная позиция (0 = левый край, 1 = правый)
        y:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Вертикальная позиция (0 = верх, 1 = низ)

    PresenceUser:
      type: object
      description: Участник совместного редактирования
      required: [userId, name, color]
      properties:
        userId:
          type: string
        name:
          type: string
        color:
          type: string
          example: '#3b82f6'
          description: HEX цвет для отображения курсора и аватарки

    # ── AI ───────────────────────────────────────────────

    AIRequest:
      type: object
      required: [prompt]
      properties:
        prompt:
          type: string
          example: Напиши введение для страницы о проекте
        context:
          type: string
          nullable: true
          description: Текущий текст страницы для контекста

    AIResponse:
      type: object
      properties:
        result:
          type: string

    # ── Tables ───────────────────────────────────────────

    TableSummary:
      type: object
      properties:
        id:
          type: string
        name:
          type: string

    Table:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        columns:
          type: array
          items:
            $ref: '#/components/schemas/TableColumn'
        rows:
          type: array
          items:
            $ref: '#/components/schemas/TableRow'

    TableColumn:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string

    TableRow:
      type: object
      properties:
        id:
          type: string
        values:
          type: object
          additionalProperties: true
